nav {
  background-color: #f7ecde;
  position: sticky !important;
}
.navbar-collapse {
  justify-content: end;
}

nav,
p {
  font-size: 1.2rem;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 600;
  
}
li{
  position: relative;
  margin: 0 10px;
}
.link--hover::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -1px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.74);
  transition: all 300ms;
}

.link--hover:hover:after {
  width: 100%;
  left: 0;
}

@media (max-width: 990px){
  .link--hover::after{
    height: 0px;
  }
}